.idea/
.env
.env.*
.*.env
.DS_Store
.vscode
*.swp
tmp
vendor
.config*.json
bindata.go
tags*
connectiot/
vars.yml
lcov.info
coverage.out
count.out
report.xml
coverage.html
count.html
cmd/cryptstring/cryptstring
